@use '../partials/header';
@use '../partials/main';
@use '../partials/footer';
@use "/node_modules/bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    background-color: black;
    font-family: 'Open Sans', sans-serif;
}